
div -- load all fonts on page enter
div -- unload fonts on page leave
div -- if load all fonts on page false:
div -- font load scroll delay
div -- font load cancel if out of view
div -- font unload if out of view

div -- entries per page: ...
