style {
  .Icon {
    width: 2em;
    height: 2em;
    fill: currentColor;
  }
  .Icon > svg {
    width: 100%;
    height: 100%;
  }
}

div.Icon style={width: input.size?input.size+'em':null, height:input.size?input.size+'em':null}
  svg
    use href=`assets/icons.svg#`+input.icon
